<nb-card>
  <nb-card-header>
    Programa
    <button (click)="goEdit()" class="btn btn-secondary btn-sm">Editar</button>
  </nb-card-header>
  <nb-card-body>

    <app-instructions-display [instructions]="instructions" [line]="programCounter"></app-instructions-display>
    <ng-container *ngIf="lastInstruction">
      <div>
        Contador Programa: {{programCounter}}
      </div>
      <div>
        Acumulador: {{this.controlUnit.accumulator}}
      </div>
    </ng-container>
  </nb-card-body>
  <nb-card-footer>
    <button (click)="runProgram()" class="btn btn-primary btn-sm">Ejecutar</button>
    <button (click)="runInstruction()" class="btn btn-primary btn-sm">Paso</button>
    <button (click)="stop()" class="btn btn-secondary btn-sm">Parar</button>
  </nb-card-footer>
</nb-card>
