@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .control-buttons {
    display: flex;
    flex-direction: row;;
    justify-content: space-between;
  }
}
